:root {
    --bg-color: #15202b;
    --text-color: #fff;
    --acc-color: rgb(29, 155, 240);
    --btn-bg: #22303c;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    width: 300px;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

/* Toggle Switch */
.toggle-container {
    position: relative;
}

.switch {
    display: inline-block;
    width: 44px;
    height: 24px;
    background-color: var(--btn-bg);
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.switch {
    background-color: var(--acc-color);
}

input[type="checkbox"]:checked+.switch::after {
    transform: translateX(20px);
}